@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
      bg-[#242424]
      min-w-[100vw];
  }

  img {  
    -drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  code {
    padding: 2px 4px;
    font-size: .9em;
    line-height: 1;
    background-color: rgba(110,118,129,0.4);
    border-radius: 6px;
  }
}

@layer components {
  .glowing-vietnam-svg {
    filter: drop-shadow(0 0 4px #ff44449c)
      drop-shadow(0 0 11px #ff44449c)
      drop-shadow(0 0 19px #ff44449c);

    animation: svgredflicker 1.5s alternate;
  }

  .glowing-star-svg {
    filter: drop-shadow(0 0 4px #fcff4e9c)
    drop-shadow(0 0 11px #fcff4e9c)
    drop-shadow(0 0 19px #fcff4e9c);

    animation: svgyellowflicker 1.5s alternate;
  }

  .glowing-arrow-svg {
    filter: drop-shadow(0 0 4px #f75dff9c)
    drop-shadow(0 0 11px #f75dff9c)
    drop-shadow(0 0 19px #f75dff9c);

    animation: svgpurpleflicker 1.5s alternate;
  }

  @keyframes svgredflicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      filter: drop-shadow(0 0 4px #ff44449c)
      drop-shadow(0 0 11px #ff44449c)
      drop-shadow(0 0 19px #ff44449c);
    }
    20%, 24%, 55% {       
      filter: none;
    }
  }

  @keyframes svgyellowflicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      filter: drop-shadow(0 0 4px #fcff4e9c)
      drop-shadow(0 0 11px #fcff4e9c)
      drop-shadow(0 0 19px #fcff4e9c);
    }
    20%, 24%, 55% {       
      filter: none;
    }
  }

  @keyframes svgpurpleflicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      filter: drop-shadow(0 0 4px #f75dff9c)
      drop-shadow(0 0 11px #f75dff9c)
      drop-shadow(0 0 19px #f75dff9c);
    }
    20%, 24%, 55% {       
      filter: none;
    }
  }

  .hero-title {
    text-shadow:
      0 0 4px #8a8a8a,
      0 0 11px #8a8a8a,
      0 0 19px #8a8a8a;
    @apply
      !uppercase !text-sm !text-center
      !pb-2 !tracking-[14px] !leading-7
  }

  .section-title {
    text-shadow:
      0 0 4px #8a8a8a,
      0 0 11px #8a8a8a,
      0 0 19px #8a8a8a;
    @apply
      !uppercase !text-2xl !tracking-[20px]
      !my-10 !mt-16 md:!my-28
  }

  .hero-btn {
    @apply
      !px-6 !py-2 !border !border-[#242424]
      !rounded-full
      !uppercase !text-sm !text-[#8a8a8a] !tracking-widest
      !transition-all hover:!border-[#fffb00]/40 hover:!text-[#fffb00]/40;
  }

  .hero-btn:hover {
    animation: textyellowflicker 1.5s infinite alternate;
  }

  @keyframes textyellowflicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fffb00,
        0 0 11px #fffb00;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
}
